@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    text-align: center;
}

.logo {
    color: #5B47D1;
    font-size: 24px;
    font-weight: 700;
    padding: 11px 19px 10px 23px;
    background-color: #F0EDFF;
}

nav {
    display: inline-block;
}

header li {
    display: inline-block;
    padding: 10px 20px;
}

header li a {
    color: #000000;
    font-size: 24px;
}

.banner {
    background-image: url("images/gb.jpg");
    width: 100%;
    height: 400px;
}

h1.title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    padding-top: 136px;
    padding-bottom: 37px;
}

p.description {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

h2 {
    padding-top: 45px;
    padding-bottom: 49px;
    font-size: 36px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

section,
header {
    background-color: #F5F5F7;
}

.cards {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150px;
}

.cards .card {
    width: 360px;
    height: 472px;
    display: inline-block;
    margin: 15px;
}

.image-wrapper {
    width: 360px;
    height: 240px;
}

.purple {
    background-color: #C7B8FF;
}

.pink {
    background-color: #FFB8D8;
}

.blue {
    background-color: #B8E0FF;
}

.green {
    background-color: #D4FFB8;
}

.yellow {
    background-color: #FFE4B8;
}

.orange {
    background-color: #FFD4B8;
}

.content-wrapper {
    background-color: #FFFFFF;
    padding: 15px 19px;
}

.date-author {
    padding-bottom: 15px;
}

.date-author small:first-child {
    padding-right: 30px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 6px;
}

.description {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
}

footer {
    background-color: #252424;
}

.footer-info {
    width: 1180px;
    padding: 57px 24px;
    margin-left: auto;
    margin-right: auto;
}

.footer-info .title {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    padding-bottom: 14px;
}

.footer-info p.description {
    width: 295px;
    color: #A1A1A6;
    font-size: 14px;
}

ul.footer-menu li {
    display: block;
    color: #A1A1A6;
    font-size: 14px;
    line-height: 100%;
    padding-bottom: 11px;
}

.footer-info-box {
    display: inline-block;
    width: 295px;
}

.footer-contact-box p {
    font-size: 20px;
    padding-bottom: 14px;
    color: #fff;
    font-weight: 600;
    display: block;
}

.footer-contact-box span {
    color: #A1A1A6;
    font-size: 14px;
    display: block;
    padding-bottom: 11px;
}

.footer-contact-box span a {
    color: #A1A1A6;
}

.copyright {
    padding: 20px 0;
    color: #86868B;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    background-color: #020202;
}